# JODA-oppimispäiväkirja

# Anton Tuominen

#    Viikko 1 - Johdatus datatieteeseen

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

url = 'https://github.com/jodatut/2020/raw/master/koodiesimerkit/SalesJan2009.csv'

orig_df = pd.read_csv(url)

df = orig_df.copy()
print('List of attributes:', df.columns.values.tolist())
print(df.head())
print(df.dtypes)

List of attributes: ['Transaction_date', 'Product', 'Price', 'Payment_Type', 'Name', 'City', 'State', 'Country', 'Account_Created', 'Last_Login', 'Latitude', 'Longitude']
  Transaction_date   Product  Price Payment_Type               Name  \
0      1/2/09 6:17  Product1   1200   Mastercard           carolina
1      1/2/09 4:53  Product1   1200         Visa             Betina
2     1/2/09 13:08  Product1   1200   Mastercard  Federica e Andrea
3     1/3/09 14:44  Product1   1200         Visa              Gouya
4     1/4/09 12:56  Product2   3600         Visa            Gerd W

                           City     State         Country Account_Created  \
0                      Basildon   England  United Kingdom     1/2/09 6:00
1  Parkville                           MO   United States     1/2/09 4:42
2  Astoria                             OR   United States    1/1/09 16:21
3                        Echuca  Victoria       Australia   9/25/05 21:13
4  Cahaba Heights                      AL   United States  11/15/08 15:47

     Last_Login   Latitude   Longitude
0   1/2/09 6:08  51.500000   -1.116667
1   1/2/09 7:49  39.195000  -94.681940
2  1/3/09 12:32  46.188060 -123.830000
3  1/3/09 14:22 -36.133333  144.750000
4  1/4/09 12:45  33.520560  -86.802500
Transaction_date     object
Product              object
Price                 int64
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object